<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662885874609-6l7iu6gniqlf42o3ik3fmkpp5rjb783k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662885874609-6l7iu6gniqlf42o3ik3fmkpp5rjb783k</string>
	<key>API_KEY</key>
	<string>AIzaSyB7fHWgaZeK5skdAswKqsRCvhyD0I7FaAE</string>
	<key>GCM_SENDER_ID</key>
	<string>662885874609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peanut</string>
	<key>PROJECT_ID</key>
	<string>peanut-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>peanut-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662885874609:ios:2ed66f2033e02043c49b90</string>
</dict>
</plist>